<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <title>{{ block 'title'}}{{home.title}}{{/block}}</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/MyCMSLoad/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/MyCMSLoad/common.css" rel="stylesheet" type="text/css"/>
    <meta name="keywords" content="{{home.keywords}}"/>
    <meta name="description" content="{{home.description}}"/>
     {{ block 'head'}} {{/block}}
</head>
<body>
     {{ include '../_partials/header.html' }}

    {{ block 'content'}} {{/block}}

    {{ include '../_partials/footer.html'}}

     <script type="text/javascript" src="/static/js/jquery.min.js"></script>
     <script type="text/javascript" src="/static/js/gd.js"></script>
     <script type="text/javascript" src="/static/js/Functions.js"></script>
     <script type="text/javascript" src="/static/js/ScrollPic.js"></script>
     <script src="/static/js/MyTop.js"></script>
     {{ block 'script'}} {{/block}}
</body>
</html>