<div class="prenext">
    <div class="IntroTitle">游戏常用工具</div>
    <div class="blk_29">

        <div class="LeftBotton" id="LeftArr_{{@scrollpicId}}"></div>
        <div class="Cont" id="ISL_Cont_{{@scrollpicId}}">
            <!-- 图片列表 begin -->
            {{ each records}}
            <div class='box'>
                <a class='imgBorder' href="/tool/{{@$value.id}}"
                   target='_blank' title="{{$value.title}}" >
                    <img src="{{$value.imgUrl}}" alt="{{$value.title}}">
                </a>
                <p>
                    <a class='imgBorder'
                       href="/tool/{{@$value.id}}" target='_blank'
                       title="{{$value.title}}">{{$value.title}}</a>
                </p>
            </div>
            {{ /each }}
            <!-- 图片列表 end -->
        </div>
        <div class="RightBotton" id="RightArr_{{@scrollpicId}}"></div>
    </div>
</div>

