<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>游戏与系统兼容性设置 - FFF单机游戏下载站</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/css/MyCMSLoad/inner.css" rel="stylesheet" type="text/css"/>
    <link href="/css/MyCMSLoad/common.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/functions.js"></script>
    <script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
    <script type="text/javascript">
        window.onerror = function () {
            return true;
        }
    </script>
</head>

<body>
<!--head start-->
<div id="head">
    <div class='section'>
        <div class="MyInner tem_top">
            <h2>
                <p>
                    <script language="javaScript">
                        now = new Date(), hour = now.getHours()
                        if (hour < 6) {
                            document.write("夜深了，请早点休息哦，祝您晚安！")
                        }
                        else if (hour < 9) {
                            document.write("早上好！欢迎来到FFF单机游戏下载站")
                        }
                        else if (hour < 12) {
                            document.write("上午好！欢迎来到FFF单机游戏下载站")
                        }
                        else if (hour < 14) {
                            document.write("中午好！欢迎来到FFF单机游戏下载站")
                        }
                        else if (hour < 17) {
                            document.write("下午好！欢迎来到FFF单机游戏下载站")
                        }
                        else if (hour < 19) {
                            document.write("傍晚好！欢迎来到FFF单机游戏下载站")
                        }
                        else if (hour < 22) {
                            document.write("晚上好！欢迎来到FFF单机游戏下载站")
                        }
                        else {
                            document.write("夜里好！欢迎来到FFF单机游戏下载站")
                        }
                    </script>
                </p>
            </h2>
            <div class="tem_top_nav">
                <a href="/Sitemap/">网站地图</a> | <a href="/old">返回旧版</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--top start -->
    <div class="top">

        <div class="TopLogo">
            <div class="logo"><a href="/"><img src="/images/up_images/logo.png" alt="FFF单机游戏下载站"></a></div>


            <div class='SearchTop'>
                <div class="SearchBar">
                    <form method="get" action="/Search/index.asp">
                        <input type="text" name="q" id="search-text" size="15"
                               onBlur="if(this.value=='') this.value='输入关键词';"
                               onfocus="if(this.value=='输入关键词') this.value='';" value="输入关键词"/><input type="submit"
                                                                                                      id="search-submit"
                                                                                                      value=" "/>
                    </form>
                </div>
                <p><strong>热门搜索:</strong>
                    <a href='/Search/index.asp?q=生化危机' target='_blank'>生化危机</a>
                    <a href='/Search/index.asp?q=使命召唤' target='_blank'>使命召唤</a>
                    <a href='/Search/index.asp?q=GTA5' target='_blank'>GTA5</a>
                    <a href='/Search/index.asp?q=骑马与砍杀' target='_blank'>骑马与砍杀</a>
                    <a href='/Search/index.asp?q=GTA' target='_blank'>给他爱</a>
                </p>
            </div>


            <div class="clearfix"></div>

        </div>

    </div>
    <!--top end-->
    <div class="clearfix"></div>
    <!--nav start-->
    <div id="NavLink">
        <div id="NavBG">
            <!--Head Menu Start-->
            <ul id='sddm'>
                <li><a href='/'>网站首页</a></li>
                <li><a href='/Support/' onmouseover=mopen('m2') onmouseout='mclosetime()'>PC单机游戏</a>
                    <div id='m2' onmouseover='mcancelclosetime()' onmouseout='mclosetime()'><a href='/PC/dongzuo'>动作游戏ACT</a>
                        <a href='/PC/sheji'>射击游戏STG</a> <a href='/PC/kongbu/'>恐怖冒险AVG</a> <a
                                href='/PC/juese/'>角色扮演RPG</a> <a href='/PC/celue/'>策略战棋SLG</a> <a href='/PC/moni/'>模拟经营SIM</a>
                        <a href='/PC/gedou/'>格斗游戏FTG</a> <a href='/PC/feixing/'>飞行射击FLY</a> <a
                                href='/PC/tiyu/'>体育竞技SPG</a> <a href='/PC/saiche/'>赛车竞速RAC</a> <a href='/PC/jishi/'>即时战略RTS</a>
                        <a href='/PC/zhuomian/'>桌面棋牌TAB</a> <a href='/PC/xiuxian/'>休闲益智PUZ</a> <a href='/PC/qita/'>其他游戏ETC</a>
                    </div>
                </li>
                <li><a href='/VIP/'>高速下载通道</a></li>
                <li><a href='/Case/'>游戏工具</a></li>
                <li class='CurrentLi'><a href='/Course/' onmouseover=mopen('m5') onmouseout='mclosetime()'>教程资讯</a>
                    <div id='m5' onmouseover='mcancelclosetime()' onmouseout='mclosetime()'><a href='/Course/jiaocheng'>游戏教程</a>
                        <a href='/Course/zixun/'>游戏资讯</a></div>
                </li>
                <li><a href='/FFF/'>网站公告</a></li>
                <li><a href='/youqing/temai.html' target='_blank'>优惠雷达</a></li>
            </ul>
            <!--Head Menu End-->
        </div>
        <div class="clearfix"></div>
    </div>
    <!--nav end-->

    <div class='clearfix'></div>
</div>
<!--head end-->
<!--body start-->
<div id="body">
    <!--focus start-->
    <div id="FocusBG">

        <div class="fullSlide">
            <div class="bd">
                <ul>
                    <li _src="url(/images/up_images/bg2.jpg)" style='background:#FFF center 0 no-repeat;'><a
                            href='/PC/kongbu/GTA/' target='_blank'></a></li>
                    <li _src="url(/images/up_images/bg1.jpg)" style='background:#FFF center 0 no-repeat;'><a
                            href='https://pr.kuaifaka.com/item/Zvkqs2' target='_blank'></a></li>
                </ul>
            </div>
            <div class="hd">
                <ul>
                </ul>
            </div>
            <span class="prev"></span> <span class="next"></span></div>
        <script type="text/javascript">
            jQuery(".fullSlide").hover(function () {
                    jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
                },
                function () {
                    jQuery(this).find(".prev,.next").fadeOut()
                });
            jQuery(".fullSlide").slide({
                titCell: ".hd ul",
                mainCell: ".bd ul",
                effect: "fold",
                autoPlay: true,
                autoPage: true,
                trigger: "click",
                startFun: function (i) {
                    var curLi = jQuery(".fullSlide .bd li").eq(i);
                    if (!!curLi.attr("_src")) {
                        curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
                    }
                }
            });
        </script>


    </div>
    <!--focus end-->
    <div class="HeightTab clearfix"></div>
    <!--inner start -->
    <div class="inner">
        <!--left start-->
        <div class="left">
            <div class="Sbox">
                <div class="topic2">教程资讯</div>
                <div class="ClassNav">
                    <div class="NavTree">
                        <ul id='suckertree1'>

                            <li class='current'><A href='/Course/jiaocheng'>游戏教程</A></li>
                            <li><A href='/Course/zixun'>游戏资讯</A></li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="HeightTab clearfix"></div>


            <div class="HeightTab clearfix"></div>
            <div class="Sbox">
                <div class="topic">FFF单机游戏下载站</div>
                <a href="/">
                    <div class="txt ColorLink"></div>
                </a>
            </div>

        </div>
        <!--left end-->
        <!--right start-->
        <div class="right">
            <div class="Position"><span>你的位置：<a href="/">首页</a> > <a href='/Course/'>教程资讯</a> > 游戏与系统兼容性设置</span></div>
            <div class="HeightTab clearfix"></div>
            <!--main start-->
            <div class="main">

                <!--content start-->
                <div class="content"><br/><br/>
                    <div class="title"><h3>游戏与系统兼容性设置</h3></div>
                    <br/><br/>
                    <div class="maincontent clearfix">
                        <p>
                            　　就目前而言，建议使用Windows
                            7（64位）操作系统，与大部分游戏都有较好的兼容性；Win8和Win10目前新游戏基本没什么问题，但是老游戏可不一定；至于XP及更早的系统，已经淘汰了，不建议使用（除非你要玩老游戏）。
                        </p>
                        <p>
                            　　那么，对于已经安装准备进行游戏时，却出现系统提示不兼容的情况要如何解决，总不能说换系统就换系统的吧。另外，又如何确认要玩儿的一款游戏是否有自己当前的系统兼容？如不兼容是否有临时的处理办法呢？
                        </p>
                        <p>
                            　　要说某一款游戏是否兼容某个版本的操作系统，我们可以参考下图中的Windows系统发布时间。比如Win7发布于2009年，那么，如果你玩2000年甚至90年代的游戏，而那时的游戏开发者根本就不知道Win7的存在，也不可能针对其做优化，所以就容易出现问题。
                        </p>
                        <p style="text-align:center;">
                            <img alt="" src="/images/image/20200073.jpg"/>
                        </p>
                        <p>
                            　　那么，问题来了，如果遇到少数不能玩儿的特例，但自己又特别想玩（对，就是特别想玩儿，不是找茬，是情怀！情怀！）怎么办？经掌柜的实测，有办法！虚拟机！你可以通过虚拟机来使用老版本的系统玩这些游戏。
                        </p>
                        <p>
                            　　另外，还有个特别神奇的方法：<font color="#c90813">因兼容性问题打不开游戏时，尝试“兼容模式”，并以管理员身份运行，这种情况常用于向下兼容。</font>
                        </p>
                        <p>
                            　　比如，win7系统下玩红警2，怎么点没反应。此时，可以选中游戏的启动程序（这里是指游戏的原启动程序），鼠标右键-属性-选择“兼容性”，兼容模式有多个选择，都试试，一般用XP兼容模式并且“简化颜色模式为16色”。
                        </p>
                        <p style="text-align:center;">
                            <img alt="" src="/images/image/20200021.jpg"/>
                        </p>
                        <p>
                            　　同理，Win8和Win10有时游戏打不开，也可以用Win7或XP兼容模式试试。即当前系统不兼容时，选择比当前系统低版本的兼容模式，就叫做向下兼容。
                        </p>
                        <p>
                            　　注：有些经过阉割的盗版系统，就算运行环境组件都安装全了，也可能运行不了游戏，那就要考虑重装个完整的系统了。
                        </p><br/>

                        <div class="IntroTitle">
                            标签
                        </div>
                        <p>
                            　　游戏必备，兼容性设置
                        </p>

                        <div class="IntroTitle"><br/>如果您觉得此消息对您有用，请随意打赏。您的支持将是我们继续创作的动力！<br/>
                            <a onclick="window.open('/dashang/index.asp','打赏支持','width=650,height=400,border=0,align=center,cellpadding=0,cellspacing=0')"
                               href="#"><img src="/images/order_img.gif" alt='打赏支持'/></a><br/><br/>
                        </div>


                        <DIV class="RightBotton" id="RightArr"></DIV>


                        <div class="clearfix">
                        </div>

                    </div>


                    <div class='HeightTab clearfix'></div>

                </div>
                <div class='clicktimes'>
                    <script language="javascript" src="/inc/article_view.asp?id=1054"></script>
                </div>
                <div class="prenext">
                    <div class="IntroTitle">更多教程</div>
                    <DIV class="blk_29">
                        <DIV class="LeftBotton" id="LeftArr"></DIV>
                        <DIV class="Cont" id="ISL_Cont_1">
                            <!-- 图片列表 begin -->
                            <DIV class='box'>
                                <A class='imgBorder' href='/Course/104161413.html' target='_blank' title=''>
                                    <IMG src='/images/image/20200070.jpg'>
                                </A>
                                <p>
                                    <A class='imgBorder' href='/Course/104161413.html' target='_blank' title=''>游戏安装启动常见问题及解决办法</A>
                                </p>
                            </DIV>
                            <DIV class='box'>
                                <A class='imgBorder' href='/Course/104161322.html' target='_blank' title=''>
                                    <IMG src='/images/image/20200071.jpg'>
                                </A>
                                <p>
                                    <A class='imgBorder' href='/Course/104161322.html' target='_blank'
                                       title=''>游戏安装教程</A>
                                </p>
                            </DIV>
                            <DIV class='box'>
                                <A class='imgBorder' href='/Course/104161511.html' target='_blank' title=''>
                                    <IMG src='/images/image/20200078.jpg'>
                                </A>
                                <p>
                                    <A class='imgBorder' href='/Course/104161511.html' target='_blank' title=''>文件完整性md5校验教程</A>
                                </p>
                            </DIV>


                            <!-- 图片列表 end -->
                        </DIV>

                        <DIV class="RightBotton" id="RightArr"></DIV>
                    </DIV>
                    <SCRIPT language=javascript type=text/javascript>
                        <!--//-->
                        <![CDATA[//><!--
                        var scrollPic_02 = new ScrollPic();
                        scrollPic_02.scrollContId = "ISL_Cont_1"; //内容容器ID
                        scrollPic_02.arrLeftId = "LeftArr";//左箭头ID
                        scrollPic_02.arrRightId = "RightArr"; //右箭头ID

                        scrollPic_02.frameWidth = 720;//显示框宽度
                        scrollPic_02.pageWidth = 720; //翻页宽度

                        scrollPic_02.speed = 3; //移动速度(单位毫秒，越小越快)
                        scrollPic_02.space = 50; //每次移动像素(单位px，越大越快)
                        scrollPic_02.autoPlay = true; //自动播放
                        scrollPic_02.autoPlayTime = 3; //自动播放间隔时间(秒)

                        scrollPic_02.initialize(); //初始化

                        //--><!
                        ]]>
                    </SCRIPT>

                </div>


            </div>
            <!--content end-->

        </div>
        <!--main end-->
    </div>
    <!--right end-->
</div>
<!--inner end-->
</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<div class="footer ">
    <div class="container">

        <div class="copyright">
            <p><a href=/>网站首页</a> | <a href=/FFF>网站公告</a> | <a href=/Sitemap>网站地图</a></p>
            <p>Copyright © 2017-2020 FFF单机游戏下载站 版权所有 All Rights Reserved </p>
            <p>本站资源均来自互联网，如果侵犯了您的权益请与我们联系，我们将在24小时内删除！谢谢！</p>
            <script type=text/javascript src=/js/MyTop.js></script>
            <script type="text/javascript">document.write(unescape("%3Cspan style='display:none;'id='cnzz_stat_icon_1278891602'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278891602' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        <div class="gzwm">
            <div class="attention">
                <p><img src="/images/QRCode.png" width='100' height='100'></p>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript" src="/js/ServiceCenter.js"></script>
</body>
</html>