<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>游戏安装教程（含视频图文双教程） - FFF单机游戏下载站</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/css/MyCMSLoad/inner.css" rel="stylesheet" type="text/css" />
<link href="/css/MyCMSLoad/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body>
<!--head start-->
<div id="head">
<div class='section'>
			<div class="MyInner tem_top">
				<h2><p><script language="javaScript"> 
now = new Date(),hour = now.getHours() 
if(hour < 6){document.write("夜深了，请早点休息哦，祝您晚安！")} 
else if (hour < 9){document.write("早上好！欢迎来到FFF单机游戏下载站")} 
else if (hour < 12){document.write("上午好！欢迎来到FFF单机游戏下载站")} 
else if (hour < 14){document.write("中午好！欢迎来到FFF单机游戏下载站")} 
else if (hour < 17){document.write("下午好！欢迎来到FFF单机游戏下载站")} 
else if (hour < 19){document.write("傍晚好！欢迎来到FFF单机游戏下载站")} 
else if (hour < 22){document.write("晚上好！欢迎来到FFF单机游戏下载站")} 
else {document.write("夜里好！欢迎来到FFF单机游戏下载站")} 
</script></p></h2>
				<div class="tem_top_nav">
                <a href="/Sitemap/">网站地图</a> | <a href="/old">返回旧版</a>
				</div>
			</div>
<div class="clearfix"></div>
		</div>
<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/logo.png" alt="FFF单机游戏下载站"></a></div>


<div class='SearchTop'>
<div class="SearchBar">
<form method="get" action="/Search/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='输入关键词';" 
onfocus="if(this.value=='输入关键词') this.value='';" value="输入关键词" /><input type="submit" id="search-submit" value=" " />
			</form>
</div>
<p><strong>热门搜索:</strong>
<a href='/Search/index.asp?q=生化危机' target='_blank' >生化危机</a>
<a href='/Search/index.asp?q=使命召唤' target='_blank' >使命召唤</a>
<a href='/Search/index.asp?q=GTA5' target='_blank' >GTA5</a>
<a href='/Search/index.asp?q=骑马与砍杀' target='_blank' >骑马与砍杀</a>
<a href='/Search/index.asp?q=GTA' target='_blank' >给他爱</a>
</p>
</div>





<div class="clearfix"></div>

</div>

</div>
<!--top end-->
<div class="clearfix"></div>
<!--nav start-->
<div id="NavLink">
<div id="NavBG">
<!--Head Menu Start-->
<ul id='sddm'>
    <li><a href='/'>网站首页</a></li> 
    <li><a href='/Support/' onmouseover=mopen('m2') onmouseout='mclosetime()'>PC单机游戏</a> <div id='m2' onmouseover='mcancelclosetime()' onmouseout='mclosetime()'><a href='/PC/dongzuo'>动作游戏ACT</a> <a href='/PC/sheji'>射击游戏STG</a> <a href='/PC/kongbu/'>恐怖冒险AVG</a> <a href='/PC/juese/'>角色扮演RPG</a> <a href='/PC/celue/'>策略战棋SLG</a> <a href='/PC/moni/'>模拟经营SIM</a> <a href='/PC/gedou/'>格斗游戏FTG</a> <a href='/PC/feixing/'>飞行射击FLY</a> <a href='/PC/tiyu/'>体育竞技SPG</a> <a href='/PC/saiche/'>赛车竞速RAC</a> <a href='/PC/jishi/'>即时战略RTS</a> <a href='/PC/zhuomian/'>桌面棋牌TAB</a> <a href='/PC/xiuxian/'>休闲益智PUZ</a> <a href='/PC/qita/'>其他游戏ETC</a> </div></li> 
    <li><a href='/VIP/'>高速下载通道</a></li> 
    <li><a href='/Case/'>游戏工具</a> </li> 
    <li class='CurrentLi'><a href='/Course/' onmouseover=mopen('m5') onmouseout='mclosetime()'>教程资讯</a> <div id='m5' onmouseover='mcancelclosetime()' onmouseout='mclosetime()'><a href='/Course/jiaocheng'>游戏教程</a> <a href='/Course/zixun/'>游戏资讯</a> </div></li> 
    <li><a href='/FFF/'>网站公告</a></li> 
    <li><a href='/youqing/temai.html' target='_blank'>优惠雷达</a></li> 
</ul>
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->

<div class='clearfix'></div>
</div>
<!--head end-->
<!--body start-->
<div id="body">
<!--focus start-->
<div id="FocusBG">

<div class="fullSlide">
  <div class="bd">
    <ul>
<li _src="url(/images/up_images/bg2.jpg)" style='background:#FFF center 0 no-repeat;'><a href='/PC/kongbu/GTA/' target='_blank'></a></li>    
<li _src="url(/images/up_images/bg1.jpg)" style='background:#FFF center 0 no-repeat;'><a href='https://pr.kuaifaka.com/item/Zvkqs2' target='_blank'></a></li>
</ul>
  </div>
  <div class="hd">
    <ul>
    </ul>
  </div>
  <span class="prev"></span> <span class="next"></span> </div>
<script type="text/javascript">
jQuery(".fullSlide").hover(function() {
    jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
},
function() {
    jQuery(this).find(".prev,.next").fadeOut()
});
jQuery(".fullSlide").slide({
    titCell: ".hd ul",
    mainCell: ".bd ul",
    effect: "fold",
    autoPlay: true,
    autoPage: true,
    trigger: "click",
    startFun: function(i) {
        var curLi = jQuery(".fullSlide .bd li").eq(i);
        if ( !! curLi.attr("_src")) {
            curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
        }
    }
});
</script>


</div>
<!--focus end-->
<div class="HeightTab clearfix"></div>
<!--inner start -->
<div class="inner">
<!--left start-->
<div class="left">
<div class="Sbox">
<div class="topic2">教程资讯</div>
<div class="ClassNav">
<div class="NavTree">
<ul id='suckertree1'>

<li class='current'><A href='/Course/jiaocheng'>游戏教程</A></li> 
<li><A href='/Course/zixun'>游戏资讯</A></li>

</ul>
</div>
</div>

</div>
 <div class="HeightTab clearfix"></div>


<div class="HeightTab clearfix"></div>
<div class="Sbox">
<div class="topic">FFF单机游戏下载站</div>
<a href="/"><div class="txt ColorLink"></div></a>
</div>
 
</div>
<!--left end-->
<!--right start-->
<div class="right">
<div class="Position"><span>你的位置：<a href="/">首页</a> > <a href='/Course/'>教程资讯</a> > 游戏安装教程（含视频图文双教程）</span></div>
<div class="HeightTab clearfix"></div>
<!--main start-->
<div class="main">

<!--content start-->
<div class="content"><br/><br/>
<div class="title"><h3>游戏安装教程（含视频图文双教程）</h3></div><br/><br/>
<div class="maincontent clearfix">
<div class="IntroTitle">
	安装注意事项
</div>
<p>
	　　<strong><font color="#c90813">安装解压前请退出杀毒卫士等防护软件！</font></strong>
</p>
<p>
	　　如电脑安装了<font color="#c90813"><strong>迈克菲</strong>或<strong>联想电脑管家组件</strong>或<strong>火绒安全</strong>的，则请务必卸载后再安装解压！</font>电脑右下角任务栏会显示如下图标：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200022.jpg" /><br/> 
</p>
<div class="IntroTitle">
	视频安装教程
</div>
<p>
	　　<u><a href="https://cloud.video.taobao.com//play/u/919482990/p/1/e/6/t/1/226505651182.mp4" target="_blank">点击在线播放1</a></u><br/>
	　　<u><a href="https://v.qq.com/x/page/p0872s2paot.html" target="_blank">点击在线播放2</a></u><br/>
	　　<u><a href="https://pan.baidu.com/s/1y_p7YsVTjo64E3c2aOtTbg" target="_blank">点击保存到自己网盘可手机播放</a></u><br/>
</p>
<div class="IntroTitle">
	图文安装教程
</div>
<p>
	　　游戏资源主要为<font color="#c90813">安装版</font>及<font color="#c90813">解压版</font>两种。
</p>
<p>
	　　<font color="#c90813"><strong>安装版</strong></font>，即游戏文件完全下载后，直接双击运行exe文件即玩的游戏（大型游戏下载约需1-2小时）。
</p>
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200023.jpg" /> 
</p>
<p>
	　　下载完成如果是这种格式，只需要直接双击运行exe应用程序就可以游戏了，如双击无反应，则点击右键，选择“以管理员身份运行”。<font color="#c90813">注意运行前关闭杀毒软件</font>。<br/>
</p>
<p>
	　　<font color="#c90813"><strong>解压版</strong></font>，就是指部分大型游戏文件被分卷压缩上传，下载时需将文件夹内的所有part压缩包全部下载，完全下载后解压即可正常游戏。
</p>
<p>
	　　正常安装解压软件的情况下，解压版游戏下载完成后如下图，分为多个part压缩包（如电脑上未安装解压软件，下载后则无所解压，显示为白色的文件，只需先安装解压软件再按下述进行操作即可，解压软件可在“游戏工具”菜单下载）：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200024.jpg" /> 
</p>
<p>
	　　确保所有文件下载完成后，找到part01分卷包，双击或右键解压即可（只需解压标注有“part01”或“0001”的压缩包！）
</p>
<p>
	　　<font color="#c90813"><strong>注意：</strong></font>
</p>
<p>
	　　① <font color="#c90813">解压版只需解压标注有“part01”或“0001”的压缩包</font>！其他压缩包不需解压但必须全部下载完成！
</p>
<p>
	　　② 因游戏较大，<font color="#c90813">解压安装时注意要留好足够的空间</font>，否则会因空间不足造成解压或安装失败！
</p>
<p>
	　　③ 因为我们分享的游戏大多为国外大作，有相当一部分是无法识别中文的，所以，<font color="#c90813">解压或安装路径不可出现中文、空格或其他中文符号</font>！另外，解压版的解压路径即游戏文件保存目录，因此请勿直接解压到桌面（部分特别说明需要安装到C盘的游戏除外）。
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200025.jpg" /><br/><br/>
	<img alt="" src="/images/image/20200026.jpg" />
</p>
<p>
	　　④ <font color="#c90813">解压安装前请务必退出杀毒、卫士等防护软件</font>！游戏绝对安全无毒，但因游戏为破解版，只为防止杀软拦截。另外，电脑安装有迈克菲或联想电脑管家或火绒安全的，则需要将此两款杀软的所有组件卸载干净再进行安装或解压操作。
</p><br/>

<div class="IntroTitle">
	标签
</div>
<p>
	　　游戏必备，游戏安装，免安装
</p>

<div class="IntroTitle"><br/>如果您觉得此消息对您有用，请随意打赏。您的支持将是我们继续创作的动力！<br/>
<a onclick="window.open('/dashang/index.asp','打赏支持','width=650,height=400,border=0,align=center,cellpadding=0,cellspacing=0')" href="#"><img src="/images/order_img.gif" alt='打赏支持' /></a><br/><br/>
</div>


<DIV class="RightBotton" id="RightArr"></DIV>



<div class="clearfix">
</div>

</div>


<div class='HeightTab clearfix'></div>

</div>
<div class='clicktimes'><script language="javascript" src="/inc/article_view.asp?id=1054"></script></div>
<div class="prenext">
<div class="IntroTitle">更多教程</div>
<DIV class="blk_29">
<DIV class="LeftBotton" id="LeftArr"></DIV>
<DIV class="Cont" id="ISL_Cont_1">
<!-- 图片列表 begin -->
<DIV class='box'>
    <A class='imgBorder'  href='/Course/104161413.html' target='_blank' title=''>
        <IMG src='/images/image/20200070.jpg' >
    </A>
    <p>
        <A class='imgBorder'  href='/Course/104161413.html' target='_blank' title=''>游戏安装启动常见问题及解决办法</A>
    </p>
</DIV>

<DIV class='box'>
    <A class='imgBorder'  href='/Course/104161511.html' target='_blank' title=''>
        <IMG src='/images/image/20200078.jpg' >
    </A>
    <p>
        <A class='imgBorder'  href='/Course/104161511.html' target='_blank' title=''>文件完整性md5校验教程</A>
    </p>
</DIV>
<DIV class='box'>
    <A class='imgBorder'  href='/Course/104161305.html' target='_blank' title=''>
        <IMG src='/images/image/20200072.jpg' >
    </A>
    <p>
        <A class='imgBorder'  href='/Course/104161305.html' target='_blank' title=''>游戏与系统兼容性设置</A>
    </p>
</DIV>

<!-- 图片列表 end -->
</DIV>

<DIV class="RightBotton" id="RightArr"></DIV>
</DIV>
<SCRIPT language=javascript type=text/javascript>
		<!--//--><![CDATA[//><!--
		var scrollPic_02 = new ScrollPic();
		scrollPic_02.scrollContId   = "ISL_Cont_1"; //内容容器ID
		scrollPic_02.arrLeftId      = "LeftArr";//左箭头ID
		scrollPic_02.arrRightId     = "RightArr"; //右箭头ID

		scrollPic_02.frameWidth     = 720;//显示框宽度
		scrollPic_02.pageWidth      = 720; //翻页宽度

		scrollPic_02.speed          = 3; //移动速度(单位毫秒，越小越快)
		scrollPic_02.space          = 50; //每次移动像素(单位px，越大越快)
		scrollPic_02.autoPlay       = true; //自动播放
		scrollPic_02.autoPlayTime   = 3; //自动播放间隔时间(秒)

		scrollPic_02.initialize(); //初始化
							
		//--><!]]>
</SCRIPT>

</div>


 
</div>
<!--content end-->

</div>
<!--main end-->
</div>
<!--right end-->
</div>
<!--inner end-->
</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<div class="footer ">
    <div class="container">
        
<div class="copyright">
           <p><a href=/>网站首页</a> | <a href=/FFF>网站公告</a> | <a href=/Sitemap>网站地图</a></p>
<p>Copyright © 2017-2020 FFF单机游戏下载站 版权所有 All Rights Reserved </p>
<p>本站资源均来自互联网，如果侵犯了您的权益请与我们联系，我们将在24小时内删除！谢谢！</p>
<script type=text/javascript src=/js/MyTop.js></script>
<script type="text/javascript">document.write(unescape("%3Cspan style='display:none;'id='cnzz_stat_icon_1278891602'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278891602' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        <div class="gzwm">
            <div class="attention">
            <p><img src="/images/QRCode.png" width='100' height='100'></p>
            </div>
        </div>        

        
    </div>
</div>

<script type="text/javascript" src="/js/ServiceCenter.js"></script>
</body>
</html>