<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文件完整性md5校验教程 - FFF单机游戏下载站手机版</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/css/MyCMSLoad/Minner.css" rel="stylesheet" type="text/css" />
<link href="/css/MyCMSLoad/Mcommon.css" rel="stylesheet" type="text/css" />
<link href="/css/default/sexylightbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/submodalsource.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mfunctions.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/js/iscroll.js"></script>
<script type="text/javascript" src="/js/jquery.drawer.min.js"></script>
<script type="text/javascript">
	window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
	// Hide the address bar!
	window.scrollTo(0, 1);
	}, 0);
	});
</script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.icons_nav').flexslider({
			animation: "slide",
			directionNav: true, 
			animationLoop: false,
			controlNav: false, 
			slideshow: false,
			animationDuration: 300
		});
	});
</script>
<script type="text/javascript" src="/js/ScrollPic.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="/js/SLB-compressed.js"></script>
  <script type="text/javascript" src="/js/SLB.v2.3.mootools.min.js"></script>
  <script type="text/javascript">
    window.addEvent('domready', function(){ //ablum box style black,blanco,negro,white
      SexyLightbox = new SexyLightBox({color:'white', dir: '/images/sexyimages'});
    });
  </script><script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body class="drawer drawer-left">
<!-- Nav Stsrt -->
<div class="drawer-main drawer-default">
  <nav class="drawer-nav" role="navigation">
    <div class="drawer-brand">
      <a href="/">网站导航 MENU</a>
    </div>
    <ul class="drawer-nav-list">
<li> <a href='/M/'>网站首页</a> </li> <li> <a href='/M/Support/'>PC单机游戏</a> </li> <li> <a href='/M/VIP/'>高速下载通道</a> </li> <li> <a href='/M/Case/'>游戏工具</a> </li> <li> <a href='/M/Course/'>游戏教程</a> </li> <li> <a href='/M/FFF/'>网站公告</a> </li> 
    </ul>
 
  </nav>
</div>
<script>
	$(document).ready(function(){
	$('.drawer').drawer();
	$('.js-trigger').click(function(){
	  $('.drawer').drawer("open");
	});
	});
</script> 
<div class="clearfix"></div>
<!-- Nav End -->
<!--head start-->
<div id="head">


<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/logom.png" alt="FFF单机游戏下载站手机版"></a></div>
<div class='MyQuick'> <div class="drawer-toggle drawer-hamberger"><span></span></div> </div>

<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--top end-->
<div class="clearfix"></div>
</div>
<!--head end-->
<div id="wrapper">
<!--body start-->
<div id="body">
<!--inner start -->
<div class="inner">
<!--left start-->
<div class="left">
<div class="Sbox">
<div class="topic">游戏教程</div>

</div>
<div class="clearfix"></div>
 
</div>
<!--left end-->
<!--right start-->
<div class="right">
<div class="Position"><span>你的位置：<a href="/">首页</a> > <a href='/M/Course/'>游戏教程</a> > 文件完整性md5校验教程</span></div>
<div class=" clearfix"></div>
<!--main start-->
<div class="main">

<div class="content">
<div class="title"><h3>文件完整性md5校验教程</h3></div><br/><br/>
<div class="maincontent clearfix">
<p>
	　　游戏在下载中，可能会因网络因素造成丢包，从而导致安装异常，因此建议游戏在安装前校验游戏文件完整性。<u><a href="/M/case/2158474918.html" target="_blank">了解、下载MD5校验工具戳此处</a></u>
</p>
<p>
	　　1. 以《看门狗2》这个游戏为例，下载完成后可以看到有29个part压缩包，在解压时发生了错误，但不清楚具体哪一个或哪几个压缩包在下载中出错了，这时就需要MD5值检测工具了：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200074.jpg" height="260" width="500"/> 
</p>
<p>
	　　2. 上图可见，下载完成后有个MD5文件，该文件即为所有压缩包正确的MD5值记录文件，检测时将此MD5文件直接拖拽到MD5检测工具的空白处即可（<font color="#c90813">仅需将md5文件拖拽到工具进行检测！且注意：md5文件必须与要检测的所有文件在同一文件夹目录下！</font>），工具则自动获取当前文件夹内所有文件的MD5与原正确的MD5进行确认核对。
</p>
<p>
	　　3. 待检查完毕后，通过最左侧的结果符号，可以很明显地看出part17压缩包遭到了损坏，造成了解压报错：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200075.jpg" height="260" width="500"/> 
</p>
<p>
	　　4. <font color="#c90813">找出损坏的part压缩包并删除，删除后要将回收站清空，确保完全删除</font>：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200076.jpg" height="260" width="500"/> 
</p>
<p>
	　　5. 删除出错压缩包后，返回下载链接，找到出错并已删除的part17压缩包重新下载，仅下载出错的part压缩包即可，<font color="#c90813">必要时需要卸载网盘重新安装后，再进行下载，重新下载时务必更换保存路径，待下载完成后再将文件与原文件放在一起进行后续操作</font>：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200077.jpg" height="260" width="500"/> 
</p>
<p>
	　　6. 下载完毕后，务必确认新下载的part文件名后缀是否有“（1）”这样的字符，如果有的话，需手动删除，<font color="#c90813">务必确保新下载的part压缩包文件名与原文件名一致</font>，然后再次用MD5值检测工具进行MD5值确认。
</p>
<p>
	　　检测通过后，<font color="#c90813">将新下载的part压缩包与其他压缩包放在同一个目录下</font>，接下来重新解压或安装就不会再出错了。<font color="#c90813">本文举例为免安装版，解压即玩的游戏文件，安装版游戏下载后为bin文件+exe安装包的，校验与出错解决方法与上文相同！</font>
</p><br/>

<div class="IntroTitle">
	标签
</div>
<p>
	　　游戏必备，MD5校验，文件完整性
</p>
<div class="clearfix">
</div>

</div>

<div class='HeightTab clearfix'></div>

</div>
<div class='clicktimes'><script language="javascript" src="/inc/article_view.asp?id=1054"></script></div>
</div>
<!--content end-->

 
</div>
<!--main end-->
</div>
<!--right end-->
</div>
<!--inner end-->
<div class="HeightTab clearfix"></div>
</div>
<!--body end-->
<div class="clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="SearchTop">
<div class="SearchBar">
<form method="get" action="/M/Search/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='请输入关键词';" 
onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value=" " />
			</form>
</div>
</div>
<div class="inner">
<div class='InnerLeft'>
<p><a href="/m/">网站首页</a> | <a href="/m/FFF">网站公告</a>  | <a href="/m/Sitemap">网站地图</a></p>
<p>Copyright © 2017-2020 FFF单机游戏下载站 版权所有 All Rights Reserved </p>
<p>本站资源均来自互联网，如果侵犯了您的权益请与我们联系，我们将在24小时内删除！谢谢！</p>
<script type="text/javascript">document.write(unescape("%3Cspan style='display:none;'id='cnzz_stat_icon_1278891602'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278891602' type='text/javascript'%3E%3C/script%3E"));</script>
</div>


<div class='clearfix'></div>
</div>
</div>
<!--footer end -->


<!--MyBar start-->
<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
  <nav>

    <ul id="top_MyMenu" class="top_MyMenu">

  <li><a href="/M"><img src='/images/up_images/2020427174755.png' alt='首页'><label>首页</label></a> </li><li><a href="/M/Support"><img src='/images/up_images/2020427174433.png' alt='游戏'><label>游戏</label></a> </li><li class="home"><a onclick="javascript:displayit(3)"></a></li><ul id="MyMenu_list3" class="MyMenu_font" style=" display:none"></ul><li><a href="/M/Case"><img src='/images/up_images/2020427174512.png' alt='工具'><label>工具</label></a> </li><li><a href="/M/FFF/"><img src='/images/up_images/2020427174526.png' alt='公告'><label>公告</label></a> </li>

                       </ul>

  </nav>

</div>
<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 
<!--MyBar end-->
</div>


</body>
</html>