<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>游戏安装教程（含视频图文双教程） - FFF单机游戏下载站手机版</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/css/MyCMSLoad/Minner.css" rel="stylesheet" type="text/css" />
<link href="/css/MyCMSLoad/Mcommon.css" rel="stylesheet" type="text/css" />
<link href="/css/default/sexylightbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/submodalsource.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mfunctions.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/js/iscroll.js"></script>
<script type="text/javascript" src="/js/jquery.drawer.min.js"></script>
<script type="text/javascript">
	window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
	// Hide the address bar!
	window.scrollTo(0, 1);
	}, 0);
	});
</script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.icons_nav').flexslider({
			animation: "slide",
			directionNav: true, 
			animationLoop: false,
			controlNav: false, 
			slideshow: false,
			animationDuration: 300
		});
	});
</script>
<script type="text/javascript" src="/js/ScrollPic.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="/js/SLB-compressed.js"></script>
  <script type="text/javascript" src="/js/SLB.v2.3.mootools.min.js"></script>
  <script type="text/javascript">
    window.addEvent('domready', function(){ //ablum box style black,blanco,negro,white
      SexyLightbox = new SexyLightBox({color:'white', dir: '/images/sexyimages'});
    });
  </script><script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body class="drawer drawer-left">
<!-- Nav Stsrt -->
<div class="drawer-main drawer-default">
  <nav class="drawer-nav" role="navigation">
    <div class="drawer-brand">
      <a href="/">网站导航 MENU</a>
    </div>
    <ul class="drawer-nav-list">
<li> <a href='/M/'>网站首页</a> </li> <li> <a href='/M/Support/'>PC单机游戏</a> </li> <li> <a href='/M/VIP/'>高速下载通道</a> </li> <li> <a href='/M/Case/'>游戏工具</a> </li> <li> <a href='/M/Course/'>游戏教程</a> </li> <li> <a href='/M/FFF/'>网站公告</a> </li> 
    </ul>
 
  </nav>
</div>
<script>
	$(document).ready(function(){
	$('.drawer').drawer();
	$('.js-trigger').click(function(){
	  $('.drawer').drawer("open");
	});
	});
</script> 
<div class="clearfix"></div>
<!-- Nav End -->
<!--head start-->
<div id="head">


<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/logom.png" alt="FFF单机游戏下载站手机版"></a></div>
<div class='MyQuick'> <div class="drawer-toggle drawer-hamberger"><span></span></div> </div>

<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--top end-->
<div class="clearfix"></div>
</div>
<!--head end-->
<div id="wrapper">
<!--body start-->
<div id="body">
<!--inner start -->
<div class="inner">
<!--left start-->
<div class="left">
<div class="Sbox">
<div class="topic">游戏教程</div>

</div>
<div class="clearfix"></div>
 
</div>
<!--left end-->
<!--right start-->
<div class="right">
<div class="Position"><span>你的位置：<a href="/">首页</a> > <a href='/M/Course/'>游戏教程</a> > 游戏安装教程</span></div>
<div class=" clearfix"></div>
<!--main start-->
<div class="main">

<div class="content">
<div class="title"><h3>游戏安装教程（含视频图文双教程）</h3></div><br/><br/>
<div class="maincontent clearfix">
<div class="IntroTitle">
	安装注意事项
</div>
<p>
	　　<strong><font color="#c90813">安装解压前请退出杀毒卫士等防护软件！</font></strong>
</p>
<p>
	　　如电脑安装了<font color="#c90813"><strong>迈克菲</strong>或<strong>联想电脑管家组件</strong>或<strong>火绒安全</strong>的，则请务必卸载后再安装解压！</font>电脑右下角任务栏会显示如下图标：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200022.jpg" /><br/> 
</p>
<div class="IntroTitle">
	视频安装教程
</div>
<p>
	　　<u><a href="https://cloud.video.taobao.com//play/u/919482990/p/1/e/6/t/1/226505651182.mp4" target="_blank">点击在线播放1</a></u><br/>
	　　<u><a href="https://v.qq.com/x/page/p0872s2paot.html" target="_blank">点击在线播放2</a></u><br/>
	　　<u><a href="https://pan.baidu.com/s/1y_p7YsVTjo64E3c2aOtTbg" target="_blank">点击保存到自己网盘可手机播放</a></u><br/>
</p>
<div class="IntroTitle">
	图文安装教程
</div>
<p>
	　　游戏资源主要为<font color="#c90813">安装版</font>及<font color="#c90813">解压版</font>两种。
</p>
<p>
	　　<font color="#c90813"><strong>安装版</strong></font>，即游戏文件完全下载后，直接双击运行exe文件即玩的游戏（大型游戏下载约需1-2小时）。
</p>
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200023.jpg" /> 
</p>
<p>
	　　下载完成如果是这种格式，只需要直接双击运行exe应用程序就可以游戏了，如双击无反应，则点击右键，选择“以管理员身份运行”。<font color="#c90813">注意运行前关闭杀毒软件</font>。<br/>
</p>
<p>
	　　<font color="#c90813"><strong>解压版</strong></font>，就是指部分大型游戏文件被分卷压缩上传，下载时需将文件夹内的所有part压缩包全部下载，完全下载后解压即可正常游戏。
</p>
<p>
	　　正常安装解压软件的情况下，解压版游戏下载完成后如下图，分为多个part压缩包（如电脑上未安装解压软件，下载后则无所解压，显示为白色的文件，只需先安装解压软件再按下述进行操作即可，解压软件可在“游戏工具”菜单下载）：
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200024.jpg" /> 
</p>
<p>
	　　确保所有文件下载完成后，找到part01分卷包，双击或右键解压即可（只需解压标注有“part01”或“0001”的压缩包！）
</p>
<p>
	　　<font color="#c90813"><strong>注意：</strong></font>
</p>
<p>
	　　① <font color="#c90813">解压版只需解压标注有“part01”或“0001”的压缩包</font>！其他压缩包不需解压但必须全部下载完成！
</p>
<p>
	　　② 因游戏较大，<font color="#c90813">解压安装时注意要留好足够的空间</font>，否则会因空间不足造成解压或安装失败！
</p>
<p>
	　　③ 因为我们分享的游戏大多为国外大作，有相当一部分是无法识别中文的，所以，<font color="#c90813">解压或安装路径不可出现中文、空格或其他中文符号</font>！另外，解压版的解压路径即游戏文件保存目录，因此请勿直接解压到桌面（部分特别说明需要安装到C盘的游戏除外）。
</p>
<p style="text-align:center;">
	<img alt="" src="/images/image/20200025.jpg" /><br/><br/>
	<img alt="" src="/images/image/20200026.jpg" />
</p>
<p>
	　　④ <font color="#c90813">解压安装前请务必退出杀毒、卫士等防护软件</font>！游戏绝对安全无毒，但因游戏为破解版，只为防止杀软拦截。另外，电脑安装有迈克菲或联想电脑管家或火绒安全的，则需要将此两款杀软的所有组件卸载干净再进行安装或解压操作。
</p><br/>

<div class="IntroTitle">
	标签
</div>
<p>
	　　游戏必备，游戏安装，免安装
</p>
<div class="clearfix">
</div>

</div>


<div class='HeightTab clearfix'></div>

</div>
<div class='clicktimes'><script language="javascript" src="/inc/article_view.asp?id=1054"></script></div>
</div>
<!--content end-->

 
</div>
<!--main end-->
</div>
<!--right end-->
</div>
<!--inner end-->
<div class="HeightTab clearfix"></div>
</div>
<!--body end-->
<div class="clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="SearchTop">
<div class="SearchBar">
<form method="get" action="/M/Search/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='请输入关键词';" 
onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value=" " />
			</form>
</div>
</div>
<div class="inner">
<div class='InnerLeft'>
<p><a href="/m/">网站首页</a> | <a href="/m/FFF">网站公告</a>  | <a href="/m/Sitemap">网站地图</a></p>
<p>Copyright © 2017-2020 FFF单机游戏下载站 版权所有 All Rights Reserved </p>
<p>本站资源均来自互联网，如果侵犯了您的权益请与我们联系，我们将在24小时内删除！谢谢！</p>
<script type="text/javascript">document.write(unescape("%3Cspan style='display:none;'id='cnzz_stat_icon_1278891602'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278891602' type='text/javascript'%3E%3C/script%3E"));</script>
</div>


<div class='clearfix'></div>
</div>
</div>
<!--footer end -->


<!--MyBar start-->
<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
  <nav>

    <ul id="top_MyMenu" class="top_MyMenu">

  <li><a href="/M"><img src='/images/up_images/2020427174755.png' alt='首页'><label>首页</label></a> </li><li><a href="/M/Support"><img src='/images/up_images/2020427174433.png' alt='游戏'><label>游戏</label></a> </li><li class="home"><a onclick="javascript:displayit(3)"></a></li><ul id="MyMenu_list3" class="MyMenu_font" style=" display:none"></ul><li><a href="/M/Case"><img src='/images/up_images/2020427174512.png' alt='工具'><label>工具</label></a> </li><li><a href="/M/FFF/"><img src='/images/up_images/2020427174526.png' alt='公告'><label>公告</label></a> </li>

                       </ul>

  </nav>

</div>
<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 
<!--MyBar end-->
</div>


</body>
</html>