<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>游戏安装启动常见问题及解决办法 - FFF单机游戏下载站手机版</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/css/MyCMSLoad/Minner.css" rel="stylesheet" type="text/css" />
<link href="/css/MyCMSLoad/Mcommon.css" rel="stylesheet" type="text/css" />
<link href="/css/default/sexylightbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/submodalsource.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mfunctions.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/js/iscroll.js"></script>
<script type="text/javascript" src="/js/jquery.drawer.min.js"></script>
<script type="text/javascript">
	window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
	// Hide the address bar!
	window.scrollTo(0, 1);
	}, 0);
	});
</script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.icons_nav').flexslider({
			animation: "slide",
			directionNav: true, 
			animationLoop: false,
			controlNav: false, 
			slideshow: false,
			animationDuration: 300
		});
	});
</script>
<script type="text/javascript" src="/js/ScrollPic.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="/js/SLB-compressed.js"></script>
  <script type="text/javascript" src="/js/SLB.v2.3.mootools.min.js"></script>
  <script type="text/javascript">
    window.addEvent('domready', function(){ //ablum box style black,blanco,negro,white
      SexyLightbox = new SexyLightBox({color:'white', dir: '/images/sexyimages'});
    });
  </script><script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body class="drawer drawer-left">
<!-- Nav Stsrt -->
<div class="drawer-main drawer-default">
  <nav class="drawer-nav" role="navigation">
    <div class="drawer-brand">
      <a href="/">网站导航 MENU</a>
    </div>
    <ul class="drawer-nav-list">
<li> <a href='/M/'>网站首页</a> </li> <li> <a href='/M/Support/'>PC单机游戏</a> </li> <li> <a href='/M/VIP/'>高速下载通道</a> </li> <li> <a href='/M/Case/'>游戏工具</a> </li> <li> <a href='/M/Course/'>游戏教程</a> </li> <li> <a href='/M/FFF/'>网站公告</a> </li> 
    </ul>
 
  </nav>
</div>
<script>
	$(document).ready(function(){
	$('.drawer').drawer();
	$('.js-trigger').click(function(){
	  $('.drawer').drawer("open");
	});
	});
</script> 
<div class="clearfix"></div>
<!-- Nav End -->
<!--head start-->
<div id="head">


<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/logom.png" alt="FFF单机游戏下载站手机版"></a></div>
<div class='MyQuick'> <div class="drawer-toggle drawer-hamberger"><span></span></div> </div>

<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--top end-->
<div class="clearfix"></div>
</div>
<!--head end-->
<div id="wrapper">
<!--body start-->
<div id="body">
<!--inner start -->
<div class="inner">
<!--left start-->
<div class="left">
<div class="Sbox">
<div class="topic">游戏教程</div>

</div>
<div class="clearfix"></div>
 
</div>
<!--left end-->
<!--right start-->
<div class="right">
<div class="Position"><span>你的位置：<a href="/">首页</a> > <a href='/M/Course/'>游戏教程</a> > 游戏安装启动常见问题及解决办法</span></div>
<div class=" clearfix"></div>
<!--main start-->
<div class="main">

<div class="content">
<div class="title"><h3>游戏安装启动常见问题及解决办法</h3></div><br/><br/>
<div class="maincontent clearfix">
<div class="IntroTitle">
	***.dll丢失、.NET初始化错误、应用程序无法启动、Runtime Error等错误
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
						<font color="#c90813"><strong>
							MSVCP120.DLL<br/>
							     <img src="/images/image/20200027.jpg"/><br><br>
							MSVCP140.DLL<br/>
							     <img src="/images/image/20200028.jpg"/><br><br>
						    MSVCP110.DLL<br>
							     <img src="/images/image/20200029.jpg"/><br><br>
						    MSVCP100.DLL<br/>
							     <img src="/images/image/20200030.jpg"/><br><br>
						    MSVCR100.DLL<br/>
						         <img src="/images/image/20200031.jpg"/><br><br>
						    MSVCP80.DLL<br/>
							     <img src="/images/image/20200032.jpg"/><br><br>
						    MSVCP71.DLL<br/>
							     <img src="/images/image/20200033.jpg"/><br><br>
						    mss32.DLL<br/>
							     <img src="/images/image/20200034.jpg"/><br><br>
						    XINPUT1_3.DLL<br/>
							     <img src="/images/image/20200035.jpg"/><br><br>
						    VCOMP110.DLL<br/>
							     <img src="/images/image/20200036.jpg"/><br><br>
						    VCRUNTIME140.DLL<br/>
							     <img src="/images/image/20200037.jpg"/><br>
							     <img src="/images/image/20200038.jpg"/><br><br>
						    mss32.DLL<br/>
							     <img src="/images/image/20200039.jpg"/><br><br>
						    mfc100u.dll<br/>
							     <img src="/images/image/20200040.jpg"/><br><br>
						    mfc110u.dll<br/>
							     <img src="/images/image/20200041.jpg"/><br><br>
						    OPENAL32.DLL<br/>
							     <img src="/images/image/20200042.jpg"/><br><br>
						    XAPOFX1_5.DLL<br/>
							     <img src="/images/image/20200043.jpg"/><br><br>
						    .NET 初始化错误<br/>
							     <img src="/images/image/20200044.jpg"/><br><br>
						    应用程序的并行配置不正确<br/>
							     <img src="/images/image/20200045.jpg"/><br><br>
						    以下其他错误<br/>
							     <img src="/images/image/20200046.jpg"/><br><br>
							     <img src="/images/image/20200047.jpg"/><br><br>
							     <img src="/images/image/20200048.jpg"/><br><br>
						</strong></font>
</p>
<p>
	　　解决方法：
</p>
<p>
	　　下载工具合集，安装运行库及DirectX修复工具，<u><a href="/M/case/8520695954.html" target="_blank">工具合集下载安装教程戳此处</a></u>
</p>
<p>
	　　或分别下载运行库及DirectX修复工具，单独进行安装，<u><a href="/M/case/3659281128.html" target="_blank">运行库下载安装戳此处</a></u>&nbsp;&nbsp;&nbsp;&nbsp;<u><a href="/M/case/0453962655.html" target="_blank">DirectX修复工具下载安装戳此处</a></u>
</p><br/>
<div class="IntroTitle">
	黑屏、闪退、运行无反应、无法正常启动等错误
</div>
<p>
	　　<font color="#c90813">游戏出现黑屏、闪退、进游戏没反应、错误提示等，请务必先确认游戏路径是否有中文！</font>
</p>
<p>
	　　安装正常但运行出现上述问题的则一律要求游戏路径不能出现中文！本站分享的游戏大多为国外大作，有相当一部分是无法识别中文的。所以，<font color="#c90813">解压或安装路径不可出现中文、空格或其他中文符号！</font>
</p>
<p>
	　　比如：正确路径应该为“D/youxi/kanmengou2”，那么类似于“D/游戏/看门狗2”（路径中有中文）或“D/you xi/kanmengou2”（路径中有空格）均不正确。
</p>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200049.jpg" /><br/><br/>
	<img src="/images/image/20200062.jpg" /><br/><br/>
	<img src="/images/image/20200063.jpg" /><br/> 
</p>
<p>
	　　解决方法：
</p>
<p>
	　　遇到以上提示，只需退出游戏后手动修改文件夹名称，将路径所有文件中的中文、空格及中文符号等修改成英文或数字，重新运行游戏即可。
</p><br/>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200050.jpg" /> 
</p>
<p>
	　　解决方法：
</p>
<p>
	　　此提示出现在游戏安装时，点击“确定”后，在游戏安装界面中，点击安装目录下方的三个白色圆点图标即可修改路径，选择或自建一个英文路径进行安装即可。
</p><br/>
<div class="IntroTitle">
	丢失steam_api.dll、丢失***_loader.dll、丢失***_loader64.dll、Driver Failed等错误
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200051.jpg" /> <br/><br/>
	<img src="/images/image/20200064.jpg" /> <br/><br/>
	<img src="/images/image/20200065.jpg" /> <br/><br/>
	<img src="/images/image/20200066.jpg" /> <br/>
</p>
<p>
	　　解决方法：
</p>
<p>
	　　卸载游戏，用杀软清理一下电脑垃圾，再退出杀软和防火墙重新安装游戏。
</p>
<p>
	　　重要说明：
</p>
<p>
	　　<font color="#c90813">游戏安装解压前请退出杀毒卫士等防护软件！如电脑安装了迈克菲或联想电脑管家组件或火绒安全的，则请务必卸载后再安装解压。</font>
</p>
<p style="text-align:center;">
	<img src="/images/image/20200022.jpg" /> 
</p>
<br/><br/>
<div class="IntroTitle">
	源文件已破坏、安装程序需要下一张磁盘等错误
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200052.jpg" /> <br/><br/>
	<img src="/images/image/20200053.jpg" /> <br/><br/>
	<img src="/images/image/20200054.jpg" /> <br/>
</p>
<p>
	　　解决方法：
</p>
<p>
	　　用md5校验工具检测出错误文件，删除并重新下载出错文件，重新下载时建议更换保存路径，等文件下载好再将文件放回到原文件夹，校验全部通过后再进行安装解压。必要的时候需要断开网络重新连接，或卸载网盘重新安装，或更换下载账号后再进行下载。
</p>
<p>
	　　<u><a href="/M/case/2158474918.html" target="_blank">md5校验工具下载戳此处</a></u>&nbsp;&nbsp;&nbsp;&nbsp;<u><a href="/M/Course/104161511.html" target="_blank">文件完整性校验教程戳此处</a></u>
</p><br/>
<div class="IntroTitle">
	激活码、授权码、解压密码等问题
</div>
<p>
	　　本站提供的游戏均为破解版，游戏安装后运行界面中如需输入<font color="#c90813">激活码</font>的，或免安装版游戏解压需要<font color="#c90813">解压密码</font>的，再或者游戏安装后，目录文件下个别程序需要解压密码的，<font color="#c90813">请在该游戏页面，下载链接下方确认！如页面中未注明的，请至下载的游戏文件夹内的文档中确认！</font>
</p><br/>
<div class="IntroTitle">
	版本与windows版本不兼容问题
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200055.jpg" />
</p>
<p>
	　　解决方法：
</p>
<p>
	　　重装64位操作系统，出现这种提示一般情况是因为运行的电脑系统为32位，而游戏需要64位操作系统。
</p><br/>
<div class="IntroTitle">
	安装时提示指定文件已存在，无法正常安装
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200056.jpg" />
</p>
<p>
	　　解决方法：
</p>
<p>
	　　更换安装路径或将现路径下的游戏文件夹删除即可。
</p>
<p>
	　　有时游戏运行异常，重新安装就莫名的解决了问题，类似于“电脑异常重启试试”。然而有的游戏重新安装时因原来目录下文件未清理干净，再次安装选择同目录，而文件无法覆盖，就出现了上述问题。因此，卸载后重新游戏前建议用杀软将电脑垃圾清理一下。
</p><br/>
<div class="IntroTitle">
	Win7运行游戏时出现致命错误、无法创建DirectX程序等错误
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200057.jpg" /><br/><br/>
	<img src="/images/image/20200058.jpg" /><br/>
</p>
<p>
	　　解决方法：
</p>
<p>
	　　更换安装路径或将现路径下的游戏文件夹删除即可。
</p><br/>
<div class="IntroTitle">
	游戏安装时文件被占用，进程无法访问
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200059.jpg" />
</p>
<p>
	　　解决方法：
</p>
<p>
	　　在确保游戏文件完全下载完成后，退出百度云盘，再到电脑硬盘的下载文件里双击安装游戏。如果还是显示被占用，重启一下电脑，再尝试安装游戏。
</p>
<p>
	　　这种情况一般是被百度云占用了进程，前提要确保游戏文件全部下载完成。
</p><br/>
<div class="IntroTitle">
	游戏安装后运行提示update your *** driver
</div>
<p>
	　　报错举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200060.jpg" />
</p>
<p>
	　　解决方法：
</p>
<p>
	　　更新电脑驱动，<u><a href="https://www.nvidia.cn/Download/index.aspx?lang=cn" target="_blank">NVIDIA驱动下载戳此处</a></u>&nbsp;&nbsp;&nbsp;&nbsp;<u><a href="https://www.amd.com/zh-hans/support" target="_blank">AMD驱动下载戳此处</a></u>
</p>
<p>
	　　这现象常见于对显卡要求较高的游戏或新装的系统，且部分游戏使用第三方驱动软件，提示大多显示已是最新驱动，因此建议直接到上述提供的官方地址下载。
</p><br/>
<div class="IntroTitle">
	游戏安装即将完成后出现组件警告弹窗
</div>
<p>
	　　弹窗举例：
</p>
<p style="text-align:center;">
	<img src="/images/image/20200061.jpg" />
</p>
<p>
	　　解决方法：
</p>
<p>
	　　直接关闭窗口，继续安装游戏。
</p>
<p>
	　　部分游戏安装完成后，弹窗提示需安装组件，务必全部勾选安装。其中一些安装时，出现上述警告信息是因为您电脑中已安装了该组件，不需重复安装。
</p><br/>
<div class="IntroTitle">
	标签
</div>
<p>
	　　游戏必备，常见问题，缺少XINPUT1_3.DLL，丢失steam_api.dll，运行库，驱动下载
</p>
<div class="clearfix">
</div>

</div>

<div class='HeightTab clearfix'></div>

</div>
<div class='clicktimes'><script language="javascript" src="/inc/article_view.asp?id=1054"></script></div>
</div>
<!--content end-->

 
</div>
<!--main end-->
</div>
<!--right end-->
</div>
<!--inner end-->
<div class="HeightTab clearfix"></div>
</div>
<!--body end-->
<div class="clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="SearchTop">
<div class="SearchBar">
<form method="get" action="/M/Search/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='请输入关键词';" 
onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value=" " />
			</form>
</div>
</div>
<div class="inner">
<div class='InnerLeft'>
<p><a href="/m/">网站首页</a> | <a href="/m/FFF">网站公告</a>  | <a href="/m/Sitemap">网站地图</a></p>
<p>Copyright © 2017-2020 FFF单机游戏下载站 版权所有 All Rights Reserved </p>
<p>本站资源均来自互联网，如果侵犯了您的权益请与我们联系，我们将在24小时内删除！谢谢！</p>
<script type="text/javascript">document.write(unescape("%3Cspan style='display:none;'id='cnzz_stat_icon_1278891602'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278891602' type='text/javascript'%3E%3C/script%3E"));</script>
</div>


<div class='clearfix'></div>
</div>
</div>
<!--footer end -->


<!--MyBar start-->
<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
  <nav>

    <ul id="top_MyMenu" class="top_MyMenu">

  <li><a href="/M"><img src='/images/up_images/2020427174755.png' alt='首页'><label>首页</label></a> </li><li><a href="/M/Support"><img src='/images/up_images/2020427174433.png' alt='游戏'><label>游戏</label></a> </li><li class="home"><a onclick="javascript:displayit(3)"></a></li><ul id="MyMenu_list3" class="MyMenu_font" style=" display:none"></ul><li><a href="/M/Case"><img src='/images/up_images/2020427174512.png' alt='工具'><label>工具</label></a> </li><li><a href="/M/FFF/"><img src='/images/up_images/2020427174526.png' alt='公告'><label>公告</label></a> </li>

                       </ul>

  </nav>

</div>
<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 
<!--MyBar end-->
</div>


</body>
</html>