{{ extend './_layouts/layout.html'}}

{{ block 'title' }}首页_{{partials.websiteInfo.name}}{{/block}}
{{ block 'content'}}

<!--body start-->
<div id="body">
    <div class="public index_1">
        <div class="index_kinds fl">
            <h2><span>C</span>
                <p>游戏类型</p>ategory
            </h2>
            <ul class="index_kinds_box">
                {{ each partials.pcList.records }}
                <li><a href='/PC/{{$value.englishName}}'>{{$value.name}}</a></li>
                {{ /each }}
            </ul>
        </div>

        <div class="index_cpzs">
            <div class="tit_1"><p>PC单机游戏</p><a href="/Support" class="more">+更多</a></div>
            <div class="clear"></div>
            <div class="index_cpzs_n">
                <ul class="index_cpzs_box">
                    <li>
                        <a class='a_img' href='/html/5207682750.html' target='_blank'>
                            <img src='/static/images/image/20200001.jpg'/>
                        </a>
                        <span><a href='/html/5207682750.html' target='_blank'>骑马与砍杀2：领主</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="public ad">
        <a href='https://w.url.cn/s/AngkrG0' target='_blank' title='Banner 1'>
            <img src='/static/images/up_images/ad1.jpg'  width='1200' height='100'>
        </a>
    </div>


    <div class="public mar10">
        <div class="tit_1 gsjs_t"><p>最新游戏</p><a href="/Support" class="more">+更多</a></div>
        <div class="clear"></div>
        <div class="index_zzry_n rool">
            <ul>
                {{ each newGameList}}
                <li>
                    <a href="/PC_detail/{{$value.id}}" target='_blank'>
                        <img src="{{$value.imgUrl}}" alt="{{$value.name}}"/>
                    </a>
                    <span><a href="/PC_detail/{{$value.id}}" target='_blank'>{{$value.name}}</a></span>
                </li>
                {{ /each }}
            </ul>
        </div>
    </div>
    <div class="clear"></div>

    <div class="public index_1">
        <div class="index_gsjs fl">
            <div class="tit_1 gsjs_t"><p>最新公告</p><a href="/FFF" class="more">+更多</a></div>
            <div class="clear"></div>
            <div class="index_gsjs_n">
                <span class="jj_im">
                    <a href='/FFF/{{newNotices.id}}' target='_blank'>
                        <img src="/static/images/up_images/FFF.jpg" width="366" height="250"/>
                    </a>
                </span>
                <br/>
                {{ each newNotices}}
                <p>{{$value.title}}</p>
                {{@$value.content}}
                {{ /each }}
            </div>
        </div>

        <div class="index_cjwt fr">
            <div class="tit_1 gsjs_t"><p>教程资讯</p><a href="/course" class="more">+更多</a></div>
            <div class="clear"></div>
            <div class="index_cjwt_n">
                {{ each tutorialsList}}
                <ul class='news_n_ul_1'>
                    <a href='/course/{{$value.id}}' target='_blank'>
                        <img src="{{$value.imgUrl}}" alt="{{$value.title}}"/>
                    </a>
                    <h3><a href="/course/{{$value.id}}" target='_blank'>{{$value.title}}</a></h3>

                    <p>{{$value.description}}...</p>
                </ul>
                {{ /each }}
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="public ad">
        <a href='https://w.url.cn/s/AngkrG0' target='_blank' title='Banner 2'>
            <img src='/static/images/up_images/ad2.jpg'  width='1200' height='100' ></a>
    </div>

    <div class="index_khal">
        <h4><a href="/tool" target="_blank">游戏工具</a></h4>


        <div class="blk_29">
            <div class="LeftBotton" id="LeftArr_{{otherToolList.scrollpicId}}"></div>
            <div class="Cont" style="margin-left: 20px;" id="ISL_Cont_{{otherToolList.scrollpicId}}">
                <!-- 图片列表 begin -->
                {{ each otherToolList.records}}
                <div class='box'>
                    <a class='imgBorder' href="/tool/{{@$value.id}}"
                       target='_blank' title="{{$value.title}}" >
                        <img src="{{$value.imgUrl}}" alt="{{$value.title}}">
                    </a>
                    <p>
                        <a class='imgBorder'
                           href="/tool/{{@$value.id}}" target='_blank'
                           title="{{$value.title}}">{{$value.title}}</a>
                    </p>
                </div>
                {{ /each }}
                <!-- 图片列表 end -->
            </div>
            <div class="RightBotton" id="RightArr_{{otherToolList.scrollpicId}}"></div>
        </div>


    </div>
    <div class="clear"></div>

    <!-- 三联内容列表
    <div class="public index_1">

    </div>
    <div class="clear"></div>
    <div class="clear"></div>

    <div class="HeightTab clearfix"></div>

    三联列表结束-->

    <div class="HeightTab clearfix"></div>

</div>
<!--body end-->
{{/block}}

{{block 'script'}}

<script type="text/javascript">
    $(function () {
        $('.rool').kxbdMarquee({
            direction: 'left',
            controlBtn: {left: '#goL', right: '#goR'},
            newAmount: 4,
            eventA: 'mouseenter',
            eventB: 'mouseleave'
        });
    });
</script>
<script type="text/javascript" src="/static/js/ScrollPic.js"></script>
<script language=javascript type=text/javascript>
    $.ready(function () {
        var scrollPic_02 = new ScrollPic();
        console.log("ISL_Cont_{{otherToolList.scrollpicId}}")
        scrollPic_02.scrollContId = "ISL_Cont_{{otherToolList.scrollpicId}}"; //内容容器ID
        scrollPic_02.arrLeftId = "LeftArr_{{otherToolList.scrollpicId}}";//左箭头ID
        scrollPic_02.arrRightId = "RightArr_{{otherToolList.scrollpicId}}"; //右箭头ID

        scrollPic_02.frameWidth = 1050;//显示框宽度
        scrollPic_02.pageWidth = 240; //翻页宽度

        scrollPic_02.speed = 1; //移动速度(单位毫秒，越小越快)
        scrollPic_02.space = 1; //每次移动像素(单位px，越大越快)
        scrollPic_02.autoPlay = true; //自动播放
        scrollPic_02.autoPlayTime = 2; //自动播放间隔时间(秒)

        scrollPic_02.initialize(); //初始化
    })
</script>
{{/block}}