$blue:#40A9FF;
$light-blue:#3A71A8;
$red:#F95353;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$white: #fff;
$gray : #999;

//sidebar
$menuBg:#E4F2FC;
$subMenuBg:#fff;
$menuHover:#E4F2FC;
