
<div class="prenext">
    <ul>
        <li>上一篇：
            <a href="/FFF/{{@prev.id}}" target='_blank'
               title="{{prev.title?prev.title:'没有了'}}">
                {{prev.title?prev.title:'没有了'}}</a>&nbsp;&nbsp;&nbsp;
            <span class='ListDate'>{{prev.createDate}}</span>
        </li>
        <li>下一篇：
            <a href="/FFF/{{@next.id}}" target='_blank'
               title="{{next.title?next.title:'没有了'}}">
                {{next.title?next.title:'没有了'}}</a>&nbsp;&nbsp;&nbsp;
            <span class='ListDate'>{{next.createDate}}</span>
        </li>
    </ul>
</div>