<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱淘宝</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/MyCMSLoad/inner.css" rel="stylesheet" type="text/css" />
<link href="/css/MyCMSLoad/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body>
<script language="javascript" type="text/javascript"> 
window.location.href="https://ai.taobao.com?pid=mm_1157800050_1673300482_110388200187&union_lens=lensId%3APUB%401589347376%400b0fdd5f_0e28_1720c7c5e04_0451%4001"; 
</script> 
</body>
</html>