<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天猫</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/MyCMSLoad/inner.css" rel="stylesheet" type="text/css" />
<link href="/css/MyCMSLoad/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body>
<script language="javascript" type="text/javascript"> 
window.location.href="https://s.click.taobao.com/t?e=m%3D2%26s%3D9x0iqHo8n8McQipKwQzePCperVdZeJviU%2F9%2F0taeK29yINtkUhsv0IIdMjX65KNlj9OmQfYVv8BN7TjQvrAEmQM9wXUPmyR%2BxaZfOZX%2BUuZvKlGahLerArHCIjqeFWCgAGIx0oe2X2hZfJ7ZQxC1%2FV0hO9fBPG8oGc375vDYVY6lLmcSHKfaX1CIFRJhZoJ2keMqUwSQcLSwn1IXvusdyogaseAKBk0cEzJFLUun%2BFEdY94kaTBrn8Bly1OFl7MvnxdpjbTh11t4roDJo31w0WSTCs7hXMhm42eZNU8odRUChHoTLkHOJGLS%2BgYrLPSUg%2Fvr9AVq5evGDmntuH4VtA%3D%3D&union_lens=lensId%3AOPT%401589347457%400b5c3301_0f31_1720c7d984e_3af2%4001"; 
</script> 
</body>
</html>