<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/Mstyle.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/Mcommon.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mfunctions.js"></script>
<script type="text/javascript" src="/js/mfocusslide.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/js/iscroll.js"></script>
<script type="text/javascript" src="/js/jquery.drawer.min.js"></script>
<script type="text/javascript">
	window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
	// Hide the address bar!
	window.scrollTo(0, 1);
	}, 0);
	});
</script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.icons_nav').flexslider({
			animation: "slide",
			directionNav: true, 
			animationLoop: false,
			controlNav: false, 
			slideshow: false,
			animationDuration: 300
		});
	});
</script>

<script type='text/javascript'> window.onerror=function(){return true;} </script> 
</head>

<body class="drawer drawer-left">
<!-- Nav Stsrt -->
<div class="drawer-main drawer-default">
  <nav class="drawer-nav" role="navigation">
    <div class="drawer-brand">
      <a href="/">网站导航 MENU</a>
    </div>
    <ul class="drawer-nav-list">
$web_TopMenu$
    </ul>
 
  </nav>
</div>
<script>
	$(document).ready(function(){
	$('.drawer').drawer();
	$('.js-trigger').click(function(){
	  $('.drawer').drawer("open");
	});
	});
</script> 
<div class="clearfix"></div>
<!-- Nav End -->
<!--head start-->
<div id="head">

<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>
<div class='MyQuick'> <div class="drawer-toggle drawer-hamberger"><span></span></div> </div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--top end-->
<div class="clearfix"></div>

</div>
<!--head end-->
<div id="wrapper">
<!--focus start-->
    <div class="slide_container">
      <ul class="rslides" id="slider">
        <li>
           <a href='/M/Support' target='_blank'>
              <img src='/images/up_images/1.jpg' alt='test4'>
           </a>
           <p class='caption'></p>
        </li>
        <li>
           <a href='https://pr.kuaifaka.com/item/Zvkqs2' target='_blank'>
              <img src='/images/up_images/2.jpg' alt='test4'>
           </a>
           <p class='caption'></p>
        </li>
        <li>
           <a href='https://pr.kuaifaka.com/item/knzfC3' target='_blank'>
              <img src='/images/up_images/3.jpg' alt='test4'>
           </a>
           <p class='caption'></p>
        </li>
      </ul>
    </div>
<script>
$(function () {
    $("#slider").responsiveSlides({
    auto: true,
    pager: false,
    nav: true,
    speed: 500,
    // 对应外层div的class : slide_container
    namespace: "slide"
    });
});
</script>
<!--focus end-->
<div class="clearfix"></div>
<!--body start-->
<div id="body">
<div class="HeightTab clearfix"></div>
<!--MyShow start-->
<DIV class="MyShow">

<div class='DivList3'>

<div class='ItemBlock'>
   <div class='ItemInner'>
      <div class='ItemImg'>
         <a href='/M/Support' target='_blank'><img src='/images/up_images/item6.png'></a>
      </div>
      <h1><a href='/M/Support'>PC单机游戏</a></h1>
   </div>
</div>
<div class='ItemBlock'>
   <div class='ItemInner'>
      <div class='ItemImg'>
         <a href='/M/VIP' target='_blank'><img src='/images/up_images/item5.png'></a>
      </div>
      <h1><a href='/M/VIP'>高速下载通道</a></h1>
   </div>
</div>
<div class='ItemBlock'>
   <div class='ItemInner'>
      <div class='ItemImg'>
         <a href='/M/Came' target='_blank'><img src='/images/up_images/item3.png'></a>
      </div>
      <h1><a href='/M/Case'>游戏工具</a></h1>
   </div>
</div>
<div class='ItemBlock'>
   <div class='ItemInner'>
      <div class='ItemImg'>
         <a href='/M/FFF' target='_blank'><img src='/images/up_images/item4.png'></a>
      </div>
      <h1><a href='/M/FFF'>网站公告</a></h1>
   </div>
</div>

<div class='clearfix'></div>
</div>
<div class="clearfix"></div>
</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>

<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle"><a  href='/m/Support'>PC单机游戏</a></div>
 </div>
<div class="HeightTab clearfix"></div>
<div class='ArticleList'>
<nav>

<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/8237912655.html' target='_blank'><img src='/images/image/20200701.jpg' /></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/8237912655.html' target='_blank'>底特律变人</a>
      </div>
      <p>冒险，科幻 ...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/3167804145.html' target='_blank'><img src='/images/image/20200702.jpg' /></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/3167804145.html' target='_blank'>命令与征服：重制版</a>
      </div>
      <p>即时战略，策略 v1.153.11.14618 | 官方简体中文 | 支持键盘、鼠标 | 赠多项修改器 | 赠关卡全通完美存档...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/1283593955.html' target='_blank'><img src='/images/image/20200706.jpg' /></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/1283593955.html' target='_blank'>圣剑传说3：重制版</a>
      </div>
      <p>角色扮演，动作，动漫 完整版 | 官方简体中文 | 支持键盘、鼠标、手柄 | 赠多项修改器 | 赠满金币初始存档...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/6420951837.html' target='_blank'><img src='/images/image/20200703.jpg' /></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/6420951837.html' target='_blank'>女神异闻录4 黄金版</a>
      </div>
      <p>角色扮演 v2023版 | 官方繁体中文 | 支持键盘、鼠标、手柄 | 赠多项修改器 | 赠超完美2周目白金存档...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/9456282158.html' target='_blank'><img src='/images/image/20200707.jpg'></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/9456282158.html' target='_blank'>最终幻想9/FF9</a>
      </div>
      <p>角色扮演，回合制 v20171101高清版 | 内置简中汉化 | 支持键盘、鼠标、手柄 | 赠最强装备初始存档(存档位置1)...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/5721802840.html' target='_blank'><img src='/images/image/20200705.jpg'></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/5721802840.html' target='_blank'>足球经理2020</a>
      </div>
      <p>体育，竞技，模拟 v20.4.1版 | 官方简体中文 | 支持键盘、鼠标、手柄 | 赠多项修改器...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/7238094429.html' target='_blank'><img src='/images/image/20200704.jpg'></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/7238094429.html' target='_blank'>三国志14</a>
      </div>
      <p>策略，战争，三国 v1.08版 | 官方简体中文 | 支持键盘、鼠标 | 赠官方原声28首BGM | 赠多项修改器 | 赠全制霸存档、真·全古武将存档...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/html/0534911548.html' target='_blank'><img src='/images/image/20200708.jpg' /></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/html/0534911548.html' target='_blank'>赏金奇兵3</a>
      </div>
      <p>即时战略，策略，动作 v1.1.18正式版 | 官方简体中文、国语发音 | 支持键盘、鼠标、手柄...</p>
   </div>
   <div class='clearfix'></div>
</div>


</nav>
<div class=" clearfix"></div>
</div>

</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>


<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle"><a  href='/M/Case'>游戏工具</a></div>
 </div>
<div class="HeightTab clearfix"></div>
<div class='ArticleList'>
$WebCase_List$
<div class=" clearfix"></div>
</div>

</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>

<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle"><a  href='/M/Course'>游戏教程</a></div>
 </div>
<div class="HeightTab clearfix"></div>
<div class='ArticleList'>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/Course/104161413.html' target='_blank'><img src='/images/image/20200070.jpg'></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/Course/104161413.html' target='_blank'>游戏安装启动常见问题及解决办法</a>
      </div>
      <p>丢失***.dll、steam_api.dll、***_loader.dll、.NET初始化错误、应用程序无法启动等常见错误解决方法...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/Course/104161322.html' target='_blank'><img src='/images/image/20200071.jpg'></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/Course/104161322.html' target='_blank'>游戏安装教程</a>
      </div>
      <p>游戏安装图文、视频双教程，含游戏分类安装方法及安装前注意事项说明...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/Course/104161511.html' target='_blank'><img src='/images/image/20200078.jpg'></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/Course/104161511.html' target='_blank'>文件完整性md5校验教程</a>
      </div>
      <p>游戏在下载中，可能会因网络因素造成丢包，从而导致安装异常，因此建议游戏在安装前校验游戏文件完整性...</p>
   </div>
   <div class='clearfix'></div>
</div>
<div class='NewsLi'>
   <div class='NewsLiLeft'> 
         <a href='/M/Course/104161305.html' target='_blank'><img src='/images/image/20200072.jpg'></a>
   </div>
   <div class='NewsLiRight'>
      <div class='NewsLiTitle'>
         <a href='/M/Course/104161305.html' target='_blank'>游戏与系统兼容性设置</a>
      </div>
      <p>游戏正常安装后运行异常？试试win7或xp兼容试试，有效解决游戏因兼容性不佳导致的卡顿、闪退、无法运行等...</p>
   </div>
   <div class='clearfix'></div>
</div>

<div class=" clearfix"></div>
</div>

</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>

<!--MyShow start-->
<DIV class="MyShow">
<div class="topic">
<div class="TopicTitle">友情链接</div>
 </div>
<div class="HeightTab clearfix"></div>
<div class='Links'>
$web_link$
<div class=" clearfix"></div>
</div>

</DIV>
<!--MyShow end-->
<div class="HeightTab clearfix"></div>
</div>
<!--body end-->
<div class="clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="SearchTop">
<div class="SearchBar">
<form method="get" action="$search_FolderName$/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='请输入关键词';" 
onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value=" " />
			</form>
</div>
</div>

<div class="inner">
$web_BottomHTML$
<div class='clearfix'></div>
</div>
</div>
<!--footer end -->

<!--MyBar start-->
<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
  <nav>

    <ul id="top_MyMenu" class="top_MyMenu">

  $web_BottomMenu$

    </ul>

  </nav>

</div>
<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 
<!--MyBar end-->
<script type="text/javascript" src="/js/gd.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(".record").imgscroll({
		speed: 30,    
		amount: 0,    
		width: 1,     
		dir: "up"   
	});	


});
</script> 
</div>


</body>
</html>