<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>伊拉图斯：死之主 - FFF单机游戏下载站手机版</title>
<meta name="description" content="角色扮演，策略
v173.12 | 官方简体中文、国语发音 | 支持键盘、鼠标 | 赠官方原声8首BGM | 赠多项修改器 | 赠过教程初始存档">
<meta name="keywords" content="角色扮演，策略">
<link href="/css/MyCMSLoad/Minner.css" rel="stylesheet" type="text/css" />
<link href="/css/MyCMSLoad/Mcommon.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mfunctions.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/js/iscroll.js"></script>
<script type="text/javascript" src="/js/jquery.drawer.min.js"></script>
<script type="text/javascript">
	window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
	// Hide the address bar!
	window.scrollTo(0, 1);
	}, 0);
	});
</script>
<script type="text/javascript">
	var $ = jQuery.noConflict();
	$(window).load(function() {
		$('.icons_nav').flexslider({
			animation: "slide",
			directionNav: true, 
			animationLoop: false,
			controlNav: false, 
			slideshow: false,
			animationDuration: 300
		});
	});
</script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</head>

<body class="drawer drawer-left">
<!-- Nav Stsrt -->
<div class="drawer-main drawer-default">
  <nav class="drawer-nav" role="navigation">
    <div class="drawer-brand">
      <a href="/">网站导航 MENU</a>
    </div>
    <ul class="drawer-nav-list">
<li> <a href='/M/'>网站首页</a> </li> <li> <a href='/M/Support/'>PC单机游戏</a> </li> <li> <a href='/M/VIP/'>高速下载通道</a> </li> <li> <a href='/M/Case/'>游戏工具</a> </li> <li> <a href='/M/Course/'>游戏教程</a> </li> <li> <a href='/M/FFF/'>网站公告</a> </li> 
    </ul>
 
  </nav>
</div>
<script>
	$(document).ready(function(){
	$('.drawer').drawer();
	$('.js-trigger').click(function(){
	  $('.drawer').drawer("open");
	});
	});
</script> 
<div class="clearfix"></div>
<!-- Nav End -->
<!--head start-->
<div id="head">


<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/logom.png" alt="FFF单机游戏下载站手机版"></a></div>
<div class='MyQuick'> <div class="drawer-toggle drawer-hamberger"><span></span></div> </div>

<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--top end-->
<div class="clearfix"></div>
</div>
<!--head end-->
<div id="wrapper">
<!--body start-->
<div id="body">
<!--inner start -->
<div class="inner">
<!--left start-->
<div class="left">
<div class="Sbox">
<div class="topic">PC单机游戏</div>

</div>
<div class=" clearfix"></div>

 
</div>
<!--left end-->
<!--right start-->
<div class="right">
<div class="Position"><span>你的位置：<a href="/">首页</a> > <a  href='/m/Support'>PC单机游戏</a> > 伊拉图斯：死之主</span></div>
<div class=" clearfix"></div>
<!--main start-->
<div class="main">

<!--content start-->
<div class="content">
<div class="title"><h3>伊拉图斯：死之主</h3></div>
<div class="maincontent clearfix">
<div class="IntroTitle">
	游戏大小
</div>
<p>
	　　1.1 GB
</p>
<div class="clearfix">
</div>
<div class="IntroTitle">
	版本介绍
</div>
<p>
	　　v173.12 | 官方简体中文、国语发音 | 支持键盘、鼠标 | 赠官方原声8首BGM | 赠多项修改器 | 赠过教程初始存档
</p>
<div class="clearfix">
</div>
<div class="IntroTitle">
	下载信息
</div>
<p>
	　　游戏下载：<a href="https://pan.baidu.com/s/1zLx9fhWYUIxgppWyz1jXYg" target="_blank"><u>https://pan.baidu.com/s/1zLx9fhWYUIxgppWyz1jXYg</u></a> 
</p>
<p>
	　　赠品下载：<a href="https://pan.baidu.com/s/1zsA12VG6E9sXLlMt5mC2fA" target="_blank"><u>https://pan.baidu.com/s/1zsA12VG6E9sXLlMt5mC2fA</u></a> 
</p>
<p>
	　　激活码：854778
</p>

</div>


<div class="IntroTitle">标签</div>
	　　角色扮演，策略<br/><br/>

 
</div>
<!--content end-->

</div>
<!--main end-->
</div>
<!--right end-->
</div>
<!--inner end-->
<div class="HeightTab clearfix"></div>
</div>
<!--body end-->
<div class="clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="SearchTop">
<div class="SearchBar">
<form method="get" action="/M/Search/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='请输入关键词';" 
onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value=" " />
			</form>
</div>
</div>
<div class="inner">
<div class='InnerLeft'>
<p><a href="/m/">网站首页</a> | <a href="/m/FFF">网站公告</a>  | <a href="/m/Sitemap">网站地图</a></p>
<p>Copyright © 2017-2020 FFF单机游戏下载站 版权所有 All Rights Reserved </p>
<p>本站资源均来自互联网，如果侵犯了您的权益请与我们联系，我们将在24小时内删除！谢谢！</p>
<script type="text/javascript">document.write(unescape("%3Cspan style='display:none;'id='cnzz_stat_icon_1278891602'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278891602' type='text/javascript'%3E%3C/script%3E"));</script>
</div>


<div class='clearfix'></div>
</div>
</div>
<!--footer end -->


<!--MyBar start-->
<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
  <nav>

    <ul id="top_MyMenu" class="top_MyMenu">

  <li><a href="/M"><img src='/images/up_images/2020427174755.png' alt='首页'><label>首页</label></a> </li><li><a href="/M/Support"><img src='/images/up_images/2020427174433.png' alt='游戏'><label>游戏</label></a> </li><li class="home"><a onclick="javascript:displayit(3)"></a></li><ul id="MyMenu_list3" class="MyMenu_font" style=" display:none"></ul><li><a href="/M/VIP"><img src='/images/up_images/2020427174512.png' alt='VIP'><label>VIP</label></a> </li><li><a href="/M/FFF/"><img src='/images/up_images/2020427174526.png' alt='公告'><label>公告</label></a> </li>

                       </ul>

  </nav>

</div>
<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 
<!--MyBar end-->
</div>


</body>
</html>